<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <h3 class="card-header">Directiva - NgIF</h3>
        <div class="card-body">
          <h5 class="card-title">Directiva - NgIF</h5>
          <p class="card-text">La directiva NgIf es una directiva estructural de Angular para implementar estructuras if en
            nuestra aplicació <br> <br>
            Con esta directiva condicionamos que un elemento html se muestre o no en
            función de que se cumpla la expresión que define, normalmente una propiedad
            o método. Su sintaxis básica es.</p>
          <h3 style="text-align: center;">
          <code> {{ textoDirectivaNgIF }} </code>
          </h3>
          <hr>
          <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                      <h4 class="card-header">NgIF - Simple</h4>
                      <div class="card-body">
                          <h5 class="card-title"><small class="text-muted">
                            Escribe sobre el testField:</small></h5>
                        
                            <div class="form-group">
                              <input [(ngModel)]="TextoFormularioNgIF" #ctrl="ngModel" type="text" 
                              class="form-control" id="inputDefault" required>
                            </div>

                            <h4><small *ngIf="ctrl.valid">Formulario Valido!!!</small></h4>

                        <small>Mientras el campo de texto este vacío permanece invalido, pero cuando comenzamos a escribir el
                          pasa a ser valido y mostramos el mensaje debajo del mismo. nos ayudamos con la etiqueta NgModel para 
                          capturar si el formulario es valido o no mediante la propiedad .valid, en el html de text field debemos
                          colocar que el campo es requerido.
                        </small>
                      </div>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="card">
                      <h4 class="card-header">NgIF - If - Else</h4>
                      <div class="card-body">
                        <h5 class="card-title"><small class="text-muted">
                            Escribe Angular sobre testField:</small></h5>
                        
                            <div class="form-group">
                              <input [(ngModel)]="TextoFormularioNgIF2" type="text" 
                              class="form-control" id="inputDefault" required>
                            </div>

                            <p *ngIf="!TextoFormularioNgIF2; else correcto">Complete el Campo</p>
                              <ng-template #correcto>
                              <p *ngIf="setResultado(); else incorrecto">¡Correcto!</p>
                              </ng-template>
                              <ng-template #incorrecto>
                              <p>Escribiste Angular?</p>
                            </ng-template>

                        <small>Mientras el campo de texto este vacío permanece invalido, pero cuando comenzamos a escribir
                          pasa a ser valido, pero hasta que el usuario no escriba la palabra correcta no mostramos el mensaje de Correcto!. 
                          esto es un claro ejemplo del uso de metodos del componente aplicado a los NgIF.
                        </small>
                      </div>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <h4 class="card-header">NgIF - Fondo Texto</h4>
                        <div class="card-body">
                          <h5 class="card-title"><small class="text-muted">
                              Selecciona un valor en el Select:</small></h5>
                              <div class="form-group">
                                <select  [(ngModel)]="selectFormularioNgIF" (change)="selecNgIf()" class="form-control" id="exampleSelect2">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                  <option>6</option>
                                  <option>7</option>
                                  <option>8</option>
                                  <option>9</option>
                                  <option>10</option>
                                </select>
                              </div>
                              <h5 *ngIf="selectFormularioNgIF == 0; else id_evaluacion" style="text-align: center;"></h5>
                            <ng-template #id_evaluacion>
                                <div *ngIf="selectFormularioNgIF >= 5; else reprobado" class="alert alert-dismissible alert-success">
                                    <p style="text-align: center;" >Puntuacion: {{ selectFormularioNgIF }}</p>
                                  </div>
                            </ng-template>
                            <ng-template #reprobado>
                                <div class="alert alert-dismissible alert-danger">
                                    <p style="text-align: center;" >Puntuacion: {{ selectFormularioNgIF }}</p>
                                  </div>
                            </ng-template>
                          <small>Activamos esta directiva con la ayuda de los event Binding en el mouse para 
                            cambiar el estilo de CSS aplicado al elemento, cuando el mouse esta sobre el
                            elemento asignamos "background-color: DodgerBlue" a la clase y observamos como el fondo
                             del texto cambia de color y cuando retiramos el mouse vuelve a la normalidad.
                          </small>
                        </div>
                      </div>

                </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

