<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <h3 class="card-header">Directiva - NgFor</h3>
        <div class="card-body">
          <h5 class="card-title">Directiva - NgFor</h5>
          <p class="card-text">Una de las directivas más empleadas en las aplicaciones Angular es la ngFor,
              dedicada a realizar iteraciones y presentar listados por pantalla. Se trata de una
              directiva de tipo estructural y su sintaxis es:
              <br><br>
              En esta sintaxis, se crea dentro del elemento html una variable local con let que
              recorrerá el array definido por of y proveniente del componente. Como buena
              práctica, el nombre de la variable local será singular y el del array plural.</p>
          <h3 style="text-align: center;">
          <code> {{ textoDirectivaNgFor }} </code>
          </h3>
          <hr>
          <h5 class="card-title">Variables locales - NgFor</h5>
          <p class="card-text">Esta directiva tiene distintas variables locales que son vastante utiles
            para poder facilitar el manejo y construccion de la estructura que queremos realizar 
            con la directiva. son variables que funcionan de forma local dentro de bucle y las podemos utilizar
            para no depender de declaraciones externas del control del bucle.
            <br></p>
            <ul>
              <li><code>Index: Number</code> guarda el numero actual del ciclo que se esta ejecutando.</li>
              <li><code>Frist: Boolean</code> es verdadero si es el primer ciclo del bucle.</li>
              <li><code>Last: Boolean</code> es verdadero si es el ultimo ciclo del bucle.</li>
              <li><code>Even: Boolean</code>es verdadero si numero de ciclo es un numero par.</li>
              <li><code>Odd: Boolean</code> es verdadero si numero de ciclo es un numero impar.</li>
            </ul>
            <p>Normalmente esta directiva es muy util para poder estructurar tablas, 
              paneles de informacion o snips de html con informacion variada en formato de objeto. 
              Para los ejemplos posteriores vamos a utilizar un objeto con la siguiente estructura: </p>
              <pre> Objeto: "Tienda"
                Tienda = [ { Producto(Libro), Precio: 200, } ]
              </pre>
              <hr>
          <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                      <h4 class="card-header">NgIF - Simple</h4>
                      <div class="card-body">
                          <h5 class="card-title"><small class="text-muted">
                            Escribe sobre el testField:</small></h5>
                        
                            <div class="form-group">
                              <input [(ngModel)]="TextoFormularioNgIF" #ctrl="ngModel" type="text" 
                              class="form-control" id="inputDefault" required>
                            </div>

                            <h4><small *ngIf="ctrl.valid">Formulario Valido!!!</small></h4>

                        <small>Mientras el campo de texto este vacío permanece invalido, pero cuando comenzamos a escribir el
                          pasa a ser valido y mostramos el mensaje debajo del mismo. nos ayudamos con la etiqueta NgModel para 
                          capturar si el formulario es valido o no mediante la propiedad .valid, en el html de text field debemos
                          colocar que el campo es requerido.
                        </small>
                      </div>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="card">
                      <h4 class="card-header">NgIF - If - Else</h4>
                      <div class="card-body">
                        <h5 class="card-title"><small class="text-muted">
                            Escribe Angular sobre testField:</small></h5>
                        
                            <div class="form-group">
                              <input [(ngModel)]="TextoFormularioNgIF2" type="text" 
                              class="form-control" id="inputDefault" required>
                            </div>

                            <p *ngIf="!TextoFormularioNgIF2; else correcto">Complete el Campo</p>
                              <ng-template #correcto>
                              <p *ngIf="setResultado(); else incorrecto">¡Correcto!</p>
                              </ng-template>
                              <ng-template #incorrecto>
                              <p>Escribiste Angular?</p>
                            </ng-template>

                        <small>Mientras el campo de texto este vacío permanece invalido, pero cuando comenzamos a escribir
                          pasa a ser valido, pero hasta que el usuario no escriba la palabra correcta no mostramos el mensaje de Correcto!. 
                          esto es un claro ejemplo del uso de metodos del componente aplicado a los NgIF.
                        </small>
                      </div>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <h4 class="card-header">NgIF - Fondo Texto</h4>
                        <div class="card-body">
                          <h5 class="card-title"><small class="text-muted">
                              Selecciona un valor en el Select:</small></h5>
                              <div class="form-group">
                                <select  [(ngModel)]="selectFormularioNgIF" (change)="selecNgIf()" class="form-control" id="exampleSelect2">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                  <option>6</option>
                                  <option>7</option>
                                  <option>8</option>
                                  <option>9</option>
                                  <option>10</option>
                                </select>
                              </div>
                              <h5 *ngIf="selectFormularioNgIF == 0; else id_evaluacion" style="text-align: center;"></h5>
                            <ng-template #id_evaluacion>
                                <div *ngIf="selectFormularioNgIF >= 5; else reprobado" class="alert alert-dismissible alert-success">
                                    <p style="text-align: center;" >Puntuacion: {{ selectFormularioNgIF }} 
                                      <br> del Select Control</p>
                                  </div>
                            </ng-template>
                            <ng-template #reprobado>
                                <div class="alert alert-dismissible alert-danger">
                                    <p style="text-align: center;" >Puntuacion: {{ selectFormularioNgIF }}
                                      <br> del Select Control</p>
                                  </div>
                            </ng-template>
                          <small>Como podemos apreciar segun el valor que tome el select control obtendremos una 
                            notificacion distinta segun sea el caso, concatenando tambien el valor del select a la 
                            notificacion mostrada.
                          </small>
                        </div>
                      </div>

                </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
