<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <h3 class="card-header">Directiva - NgModel</h3>
        <div class="card-body">
          <h5 class="card-title">Directiva - NgModel</h5>
          <p class="card-text"></p>
          <h4 style="text-align: center;"> <code> {{ textoInterpolacion }} </code></h4>
          <p></p>
          <h4 style="text-align: center;"> <code> {{ textoIntepolacionObjeto }} </code></h4>

          <hr>
        </div>
      </div>
    </div>
    
  </div>
</div>
