<div class="container">
  <div class="jumbotron">
    <h2>Data Binding - Angular</h2>
    <h5>En angular para la comunicacion entre la logica de nuestro programa y el HTML tenemos los data Binding,
    que no son mas que expreciones colocadas en nuestro HTML para representar la informacion que nos envia nuestro codigo TypeScript y viceversa. Tenemos dos tipos:
    </h5>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <h3 class="card-header">Tipo One Way</h3>
        <div class="card-body">
          <h5 class="card-title">Iterpolacion y Property Binding</h5>
          <p class="card-text">Son Data Binding que unen la fuente de datos (TypeScript) a la vista (HTML) en un solo sentido.</p>
          <a routerLink="/data-binding-interpolacion-property" class="card-link">Ejemplo</a>
        </div>
      </div>
      
    </div>
    <div class="col-sm-4">
      <div class="card">
        <h3 class="card-header">Tipo One Way</h3>
        <div class="card-body">
          <h5 class="card-title">Event Binding</h5>
          <p class="card-text">En este binding el sentido va de la vista (HTML) al modelo de datos (TypeScript) pero siempre en un solo sentido.</p>
          <a routerLink="/event-binding" class="card-link">Ejemplo</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      
      <div class="card">
        <h3 class="card-header">Tipo Two Way</h3>
        <div class="card-body">
          <h5 class="card-title">Two-way Binding.</h5>
          <p class="card-text">Como su nombre lo indica este Binding enlasa simultaneamente los datos en ambos sentidos de nuestra aplicacion.</p>
          <a routerLink="/two-way-binding" class="card-link">Ejemplo</a>
        </div>
      </div>
      
    </div>
  </div>
  
</div>