<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <h3 class="card-header">Directiva - NgClass</h3>
        <div class="card-body">
          <h5 class="card-title">Directiva - NgClass</h5>
          <p class="card-text">Agrega y elimina clases CSS en un elemento HTML.</p>
          <h3 style="text-align: center;">
          <code> {{ textoDirectivaNgClass }} </code>
          </h3>
          <hr>
          <div class="container">
            <dir class="row">
                <div class="col-sm-4">
                  
                    <div class="card">
                  <h3 class="card-header">Card header</h3>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                  </div>
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>

                </div>
                <div class="col-sm-5">
                  
                    <div class="card">
                  <h3 class="card-header">Card header</h3>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                  </div>
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>

                </div>
                <div class="col-sm-5">
                  
                    <div class="card">
                  <h3 class="card-header">Card header</h3>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                  </div>
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>

                </div>
            </dir>
          </5iv>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>